/* Solo estilos responsivos */
@media (max-width: 900px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  header .left {
    max-width: 100%;
  }
  h1 {
    font-size: 36px;
  }

  .header .btn {
    margin: 1rem auto;

  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    margin-left: -9px;
    margin-right: -9px;
  }
}