/* =========================
   RESPONSIVE AJUSTE FINO
========================= */

@media (max-width: 600px) {
  .featured {
    padding-top: 3rem;
  }

  .featured .logos img {
    max-width: 90px;
  }
}