/* Solo estilos responsivos */
@media (max-width: 900px) {
  .featured .logos {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .featured {
    padding-bottom: 1.5rem;
    margin-top: 25rem !important;
  }
  .featured-card {
    border-radius: 20px;
    padding: 1.5rem;
    transform: none;
    margin-top: 1rem;
  }
}
